<div class="story-so-far">

  <h1>The Story So Far:</h1>
  <h3><%=@story.full_story%></h3>
  <%= render 'new_sentence_form', sentence: @sentence %>

  <h3>Contributors:</h3>
    <%= render 'contributors', story: @story%>

  <div class="back-button">
      <p><%=link_to("Back", user_path(current_user))%></p>
  </div>
</div>
