<div class="individual-story">
  <div id="story-preview">
    <p><%=story.full_story%></p>
    <% if story.sentences.last.nil? && story.user_id != current_user.id %>
      <p><%=link_to("Add a Sentence", story_path(story.id)) %></p>
    <%elsif story.sentences.last.nil? && story.user_id == current_user.id %>
        <p style="color: #EF9A9A">You were the most recent to contribute. You can add a new sentence after someone else has.</p>
    <%elsif story.sentences.last.user == current_user %>
        <p style="color: #EF9A9A">You were the most recent to contribute. You can add a new sentence after someone else has.</p>
    <% else %>
      <p><%=link_to("Add a Sentence", story_path(story.id)) %></p><br>
      <% end %>
      <p><%=link_to "see contributors & more", story_path(story) %></p><br>
  </div>
  <br>
      <button type="button" id="next-button">NEXT</button>
    </div>
