<div class="welcome-to-storyline">
<h1>Welcome to Storyline.</h1>


<h2>Already have an account?</h2>
<%= link_to("Login with Facebook", "/users/auth/facebook") %>
<p>Login with Email</p>

<h2>Create an Account</h2>
<p>Use Facebook Account</p><br>
<p>Use Google Account</p><br>
<%=link_to "Use Email Address", new_user_registration_path %>
</div>
