<div class="contributor-2">
  <p><%=link_to "#{@story.user.username}", user_stats_path(@story.user)%>:&nbsp;&nbsp;<%=link_to "#{@story.beginning}", story_path(@story) %></p><br>

<% if @story.already_voted_story? { current_user.id } %>

  <p class="upvotes">you upvoted this!&nbsp;&nbsp;|&nbsp;&nbsp;
<% else %>
<p class="upvotes"><%=link_to "upvote", story_upvotes_path(@story), :method => :post, :id => "story-upvote-link" %>&nbsp;&nbsp;|&nbsp;&nbsp;
<%end%>
total upvotes: <%=@story.upvotes.size%></p><br>
</div>
<br>
