<h1>Welcome!</h1>

<h2>Already have an account?</h2>
<p>Login with Facebook</p><br>
<p>Login with Google</p>

<h2>Create an Account</h2>
<p>Use Facebook Account</p><br>
<p>Use Google Account</p><br>
<p>Use Email Address</p><br>
