@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Quicksand:700');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Didact+Gothic');

body {
  height: 100%;
}

html {
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* NAVBAR STYLING */

.navbar-default {
  background-color: #0D47A1
}

.nav-container {
  left: 0px;
}

.header-links {
  font-family: 'Quicksand', sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FF8A80;
}

/* USER SHOW PAGE STYLING */

div.story-box {
  font-family: 'Didact Gothic', sans-serif;
  background: image-url("light_honeycomb.png");
  background-repeat: repeat;
  text-align: center;
  width: 100%;
  min-height: 40%;
  float: left;
  padding-bottom: 2%;
}

div.story-box h2 {
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  padding-top: 5%;
}

div.right-side {
  width: 50%;
  min-height: 80%;
  float: left;
  border: 2px solid #004D40;
  background: #ECEFF1;
}

h1.user-heading {
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

div.other-stories-box {
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  background: image-url("dark_honeycomb.jpg");
  background-repeat: repeat;
  text-align: center;
  width: 100%;
  min-height: 40%;
  float: left;
  padding-bottom: 2%;
}

div.other-stories-box h2 {
font-family: 'Bungee Shade', cursive;
font-size: 45px;
padding-top: 1%;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  color:black;
}

div.your-stories-box {
  font-family: 'Didact Gothic', sans-serif;
  color: black;
  background: image-url("light_honeycomb.png");
  background-repeat: repeat;
  text-align: center;
  width: 100%;
  min-height: 40%;
  float: left;
  padding-bottom: 2%;
}

div.your-stories-box h2 {
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  padding-top: 1%;
}

div.other-stories-box {
  font-size: 20px;
}

div.individual-story {
  margin-top: 2em;
}

/* LOGIN PAGE */

div.login-or-signup {
  margin-top: 10%;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2em;
}

div.login-or-signup h2 {
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
}
